<template>

  <div id="app">

    <h1>{{ msg }}</h1>
    <router-link to="/">Inicial</router-link>

    <ul>
      <li>
        <h1>English</h1>
      </li>
      <li>
        <h1>Portugues - DevOps - Canvas de Assessment</h1>
        <img src="./assets/devops_assessment/Red_Hat_Canvas_Assessment-v1.0 PR.jpg">
        <table style="width:100%">
          <tr>
            <th>DEMANDA</th>
            <th>PLAN</th>
            <th>DEVELOP</th>
            <th>BUILD</th>
            <th>TEST</th>
            <th>DEPLOY</th>
            <th>RELEASE</th>
            <th>OPERATE</th>
          </tr>
          <tr>
            <td>
              Software utilizado para entrada de uma demanda para uma equipe? (Jira, TFS, etc)
            </td>
            <td>
              Qual a ferramenta de gestão de backlog? (TFS, Trello, Jira, etc)</p>
              Setup de ambiente de desenvolvimento
            </td>
            <td>
              Qual o versionador de código? (SVN, Git, etc)</p>
              Como funciona:</p>
              - Solicita criação de repositório (Projeto)</p>
              - Solicita criação de Branch</p>
              - Add, Commit, Push na Branch</p>
              - Deploy em UAT</p>
              - Deploy em Produção</p>
              Qual a ferramenta de comunicação entre a equipe? (Slack, Whastapp, Twitter, etc)</p>
              Ferramenta para documentação técnica?
            </td>
            <td>
              Qual a ferramenta de análise de qualidade de código? (Sonar, etc)</p>
              Qual a ferramenta de Build? (Maven, ant, make, etc)</p>
              Qual a ferramenta de integração de código? (Jenkins, etc)
            </td>
            <td>
              Qual a ferramenta de automação de testes (xUnit, Selenium, etc)</p>
              Criação de Ambientes</p>
              Código do produto é Legado?</p>
              Código do produto é complexo?</p>
              Código do produto é acoplado (monolítico)?
            </td>
            <td>
              Qual a ferramenta de repositório? (Nexus, etc)
            </td>
            <td>
              Qual a ferramenta de repositório? (Nexus, etc)</p>
              Qual a ferramenta de automação de scripts? (Rundeck, etc)</p>
              Qual a ferramenta de deploy em produção?</p>
              Migração de dados</p>
              Segurança
            </td>
            <td>
              Ferramenta para Incidentes, problemas, eventos não previstos?</p>
              Monitoramento</p>
              Log's</p>
              Configuração de Alertas</p>
              GMUD</p>
              Transição para a Operação</p>
              Desempenho
            </td>
          </tr>
        </table>
      </li>
      <li>
        <h1>Spanish - DevOps - Canvas de Evaluación</h1>
        <img src="./assets/devops_assessment/Red_Hat_Canvas_Assessment-v2.0 ES.jpg">
        <table style="width:100%">
          <tr>
            <th>DEMANDA</th>
            <th>PLAN</th>
            <th>DEVELOP</th>
            <th>BUILD</th>
            <th>TEST</th>
            <th>DEPLOY</th>
            <th>RELEASE</th>
            <th>OPERATE</th>
          </tr>
          <tr>
            <td>
              Software utilizado para la entrada de una demanda a un equipo? (Jira, TFS, etc)
            </td>
            <td>
              ¿Cuál es la herramienta de gestión de backlog? (TFS, Trello, Jira, etc)</p>
              Configuración de entorno de desarrollo
            </td>
            <td>
              ¿Cuál es el versionador de código? (SVN, Git, etc)</p>
              Cómo funciona:</p>
              - Solicita creación de repositorio (Proyecto)</p>
              - Solicita la creación de Branch</p>
              - Add, Commit, Push en Branch</p>
              - Deploy en UAT</p>
              - Deploy en Producción</p>
              ¿Cuál es la herramienta de comunicación entre el equipo? (Slack, Whastapp, Twitter, etc)</p>
              Herramienta de documentación técnica?
            </td>
            <td>
              ¿Cuál es la herramienta de análisis de calidad de código? (Sonar, etc)</p>
              ¿Cuál es la herramienta de Build? (Maven, ant, make, etc)</p>
              ¿Cuál es la herramienta de integración de código? (Jenkins, etc)
            </td>
            <td>
              ¿Cuál es la herramienta de automatización de pruebas (xUnit, Selenium, etc)</p>
              Creación de ambientes</p>
              ¿El código del producto es Legado?</p>
              ¿El código del producto es complejo?</p>
              El código del producto se acopla (monolítico)?
            </td>
            <td>
              ¿Cuál es la herramienta de repositorio? (Nexus, etc)
            </td>
            <td>
              ¿Cuál es la herramienta de repositorio? (Nexus, etc)</p>
              ¿Cuál es la herramienta de automatización de secuencias de comandos? (Rundeck, etc)</p>
              ¿Cuál es la herramienta de despliegue en producción?</p>
              Migración de datos</p>
              Seguridad
            </td>
            <td>
              Herramienta para Incidentes, problemas, eventos no previstos?</p>
              Monitoreo</p>
              Log’s</p>
              Configuración de Alertas</p>
              GMUD</p>
              Transición a la Operación</p>
              Rendimiento
            </td>
          </tr>
        </table>
      </li>
    </ul>

  </div>

</template>

<script>

  export default {
    name: 'app',
    data () {
      return {
        msg: 'Relação de Canvas - DevOps Assessment'
      }
    }
  }
</script>

<style lang="scss">

</style>
