<template>

  <div id="app">

    <h1>{{ msg }}</h1>
    <router-link to="/">Inicial</router-link>

    <ul>
      <li><router-link to="/exemplos/rails_mysql">Rails e MySql</router-link></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

  </div>

</template>

<script>

  export default {
    name: 'app',
    data () {
      return {
        msg: 'Relação de Exemplos - 7 Dimensões do Container'
      }
    }
  }
</script>

<style lang="scss">

</style>
