<template>

  <div id="app">

    <h1>{{ msg }}</h1>
    <router-link to="/">Inicial</router-link>

    <ul>
      <li>
        <h1>English</h1>
        <img src="./assets/fichas/Template - 7 Dimensions of Container - v1 - English.jpg">
      </li>
      <li>
        <h1>Portugues</h1>
        <img src="./assets/fichas/Template - 7 Dimensões do Container - v1 - BR.jpg">
      </li>
      <li>
        <h1>Spanish</h1>
        <img src="./assets/fichas/Template - 7 Dimensiones del Container - v1 ES.jpg">
      </li>
    </ul>

  </div>

</template>

<script>

  export default {
    name: 'app',
    data () {
      return {
        msg: 'Relação de Fichas - 7 Dimensões do Container'
      }
    }
  }
</script>

<style lang="scss">

</style>
