<template>
  <div id="app">
    <img src="./assets/container.jpg">
    <h1>{{ msg }}</h1>
    <ul>
      <li>
        <router-link to="/fichas">Fichas - 7 Dimensões do Container</router-link>
      </li>
      <li>
        <router-link to="/exemplos">Exemplos - 7 Dimensões do Container</router-link>
      </li>
      <li>
        <router-link to="/devops_assessment">Relação de Canvas - DevOps Assessment</router-link>
      </li>
      <li>
        <router-link to="/pipeline">Pipeline</router-link>
      </li>
      <li>
        <router-link to="/roadmap">Roadmap</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      msg: 'Documentador de "scripts" para Containers'
    }
  }
}
</script>

<style lang="scss">

</style>
