<template>

  <div id="app">

    <h1>{{ msg }}</h1>
    <router-link to="/">Inicial</router-link>

    <ul>
      <li>
        <h1>Portugues</h1>
        <img src="./assets/pipeline/pipeline.jpg">
      </li>
    </ul>

  </div>

</template>

<script>

  export default {
    name: 'app',
    data () {
      return {
        msg: 'Pipeline'
      }
    }
  }
</script>

<style lang="scss">

</style>
