<template>

  <div id="app">

    <h1>{{ msg }}</h1>
    <router-link to="/">Inicial</router-link>

        <table style="width:100%">
          <tr>
            <th>
              <img src="./assets/icones/componente.png" width="150" height="100"></p>
              Componente
            </th>
            <th>
              <img src="./assets/icones/dependencia.png" width="150" height="100"></p>
              Dependências
            </th>
            <th>
              <img src="./assets/icones/servico.png" width="150" height="100"></p>
              Serviço de Apoio
            </th>
            <th>
              <img src="./assets/icones/configuracoes.png" width="150" height="100"></p>
              Configurações
            </th>
            <th>
              <img src="./assets/icones/vinculo_portas.png" width="150" height="100"></p>
              Vínciulo de Portas
            </th>
            <th>
              <img src="./assets/icones/comandos.png" width="150" height="100"></p>
              Comandos
            </th>
            <th>
              <img src="./assets/icones/logs.png" width="150" height="100"></p>
              Log's
            </th>
          </tr>

          <!-- Nova Linha -->

          <tr>
            <td colspan = "7">
            Imagem de MySql. Propósito de persistir os dados da aplicação
            </td>
          </tr>
          <tr>
            <td>
              <!-- Componente -->
              <div class="quote-container">
                <i class="pin"></i>
                <blockquote class="note_piccolo yellow">
                MySql
                </blockquote>
              </div>
            </td>
            <td>
              <!-- Dependencia -->
              <div class="quote-container">
                <i class="pin"></i>
                <blockquote class="note_piccolo yellow">
                volumes:</p>
                </p>
                my-db:
                </blockquote>
              </div>
            </td>
            <td>
              <!-- Serviço de Apoio -->
            </td>
            <td>
              <!-- Configurações -->
              <div class="quote-container">
                <i class="pin"></i>
                <blockquote class="note_piccolo yellow">
                Image 5.7
                </blockquote>
              </div>
              <div class="quote-container">
                <i class="pin"></i>
                <blockquote class="note yellow">
                environment:</p>
                </p>
                MYSQL_ROOT_PASSWORD: XXXXX</p>
                MYSQL_DATABASE: "NomeDoDatabase"</P>
                </blockquote>
              </div>
              <div class="quote-container">
                <i class="pin"></i>
                <blockquote class="note_piccolo yellow">
                volumes:</p>
                </p>
                my-db:/var/lib/mysql
                </blockquote>
              </div>
              <div class="quote-container">
                <i class="pin"></i>
                <blockquote class="note_piccolo yellow">
                services:</p>
                </p>
                db:
                </blockquote>
              </div>
            </td>
            <td>
              <!-- Vínciulo de Portas  -->
              <div class="quote-container">
                <i class="pin"></i>
                <blockquote class="note_piccolo yellow">
                  3306
                </blockquote>
              </div>
            </td>
            <td>
              <!-- Comandos -->
            </td>
            <td>
              <!-- Log's -->
            </td>
          </tr>

          <!-- Nova Linha -->

          <tr>
            <td colspan = "7">
            Aplicação Rails. Execução do Sistema em Rails
            </td>
          </tr>
          <tr>
            <td>
              <!-- Componente -->
              <div class="quote-container">
                <i class="pin"></i>
                <blockquote class="note_piccolo yellow">
                Rails
                </blockquote>
              </div>
            </td>
            <td>
              <!-- Dependencia -->
              <div class="quote-container">
                <i class="pin"></i>
                <blockquote class="note_piccolo yellow">
                depends_on:</p>
                </p>
                db
                </blockquote>
              </div>
              <div class="quote-container">
                <i class="pin"></i>
                <blockquote class="note_piccolo yellow">
                Dockerfile
                </blockquote>
              </div>
              <div class="quote-container">
                <i class="pin"></i>
                <blockquote class="note_piccolo yellow">
                Gemfile
                </blockquote>
              </div>
            </td>
            <td>
              <!-- Serviço de Apoio -->
            </td>
            <td>
              <!-- Configurações -->
              <div class="quote-container">
                <i class="pin"></i>
                <blockquote class="note yellow">
                environment:</p>
                DATABASE__CLIENT: db</p>
                DATABASE__CONNECTION__HOST: db</p>
                DATABASE__CONNECTION__USER: root</p>
                DATABASE__CONNECTION__DATABASE: "NomeDoDatabase"</p>
                DATABASE__CONNECTION__PASSWORD: XXXXX</p>
                </blockquote>
              </div>
              <div class="quote-container">
                <i class="pin"></i>
                <blockquote class="note_piccolo yellow">
                volumes:</p>
                </p>
                .:/usr/src/app</p>
                </blockquote>
              </div>
              <div class="quote-container">
                <i class="pin"></i>
                <blockquote class="note_piccolo yellow">
                services:</p>
                </p>
                web:
                </blockquote>
              </div>
              <div class="quote-container">
                <i class="pin"></i>
                <blockquote class="note_piccolo yellow">
                Rails 4.2
                </blockquote>
              </div>
            </td>
            <td>
              <!-- Vínciulo de Portas  -->
              <div class="quote-container">
                <i class="pin"></i>
                <blockquote class="note_piccolo yellow">
                3000
                </blockquote>
              </div>
            </td>
            <td>
              <!-- Comandos -->
              <div class="quote-container">
                <i class="pin"></i>
                <blockquote class="note_piccolo yellow">
                command: bundle exec rails s -p 3000 -b '0.0.0.0'
                </blockquote>
              </div>
              <div class="quote-container">
                <i class="pin"></i>
                <blockquote class="note_piccolo yellow">
                build: .
                </blockquote>
              </div>
            </td>
            <td>
              <!-- Log's -->
            </td>
          </tr>

          <!-- Nova Linha -->

          <tr>
            <td colspan = "7">
            Ruby. Linguagem de Programação
            </td>
          </tr>
          <tr>
            <td>
              <!-- Componente -->
              <div class="quote-container">
                <i class="pin"></i>
                <blockquote class="note_piccolo yellow">
                Ruby
                </blockquote>
              </div>
            </td>
            <td>
              <!-- Dependencia -->
            </td>
            <td>
              <!-- Serviço de Apoio -->
            </td>
            <td>
              <!-- Configurações -->
              <div class="quote-container">
                <i class="pin"></i>
                <blockquote class="note_piccolo yellow">
                ruby:2.5
                </blockquote>
              </div>
            </td>
            <td>
              <!-- Vínciulo de Portas  -->
            </td>
            <td>
              <!-- Comandos -->
              <div class="quote-container">
                <i class="pin"></i>
                <blockquote class="note yellow">
                FROM ruby:2.5</p>
                </p>
                RUN apt-get update -ydd</p>
                RUN apt-get upgrade -ydd</p>
                RUN apt-get install -ydd --no-install-recommends nodejs</p>
                RUN apt-get install -ydd default-libmysqlclient-dev<p>
                RUN apt-get install -ydd libmariadb-dev-compat</p>
                RUN apt-get install -ydd libmariadb-dev</p>
                </p>
                COPY . /usr/src/app/</p>
                </p>
                WORKDIR /usr/src/app</p>
                </p>
                RUN bundle install
                </blockquote>
              </div>
            </td>
            <td>
              <!-- Log's -->
            </td>
          </tr>

          <!-- Nova Linha -->

          <tr>
            <td colspan = "7">
              <b>docker-compose.yml</b></p>
              <img src="./assets/Rails_MySql/docker-compose.png">
            </td>
          </tr>

          <!-- Nova Linha -->

          <tr>
            <td colspan = "7">
              <b>Dockerfile</b></p>
              <img src="./assets/Rails_MySql/Dockerfile.png">
            </td>
          </tr>
        </table>

  </div>

</template>

<script>

  export default {
    name: 'app',
    data () {
      return {
        msg: 'Rails e MySql'
      }
    }
  }
</script>

<style lang="scss">

.quote-container {
  margin-top: 50px;
  position: relative;
}

.note {
  color: #333;
  position: relative;
  width: 200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Satisfy;
  font-size: 10px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
}

.note_piccolo {
  color: #333;
  position: relative;
  width: 100px;
  margin: 0 auto;
  padding: 20px;
  font-family: Satisfy;
  font-size: 10px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
}

.yellow {
  background: #eae672;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}

.pin {
  background-color: #aaa;
  display: block;
  height: 32px;
  width: 2px;
  position: absolute;
  left: 50%;
  top: -16px;
  z-index: 1;
}

.pin:after {
  background-color: #A31;
  background-image: radial-gradient(25% 25%, circle, hsla(0,0%,100%,.3), hsla(0,0%,0%,.3));
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1),
              inset 3px 3px 3px hsla(0,0%,100%,.2),
              inset -3px -3px 3px hsla(0,0%,0%,.2),
              23px 20px 3px hsla(0,0%,0%,.15);
  content: '';
  height: 12px;
  left: -5px;
  position: absolute;
  top: -10px;
  width: 12px;
}

.pin:before {
  background-color: hsla(0,0%,0%,0.1);
  box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
  content: '';

  height: 24px;
  width: 2px;
  left: 0;
  position: absolute;
  top: 8px;

  transform: rotate(57.5deg);
  -moz-transform: rotate(57.5deg);
  -webkit-transform: rotate(57.5deg);
  -o-transform: rotate(57.5deg);
  -ms-transform: rotate(57.5deg);

  transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

</style>
