<template>

  <div id="app">

    <h1>{{ msg }}</h1>
    <router-link to="/">Inicial</router-link>

    <ul>
      <li>
        <h1>English</h1>
        <img src="./assets/roadmap/Showcase DevOps360 Alelo Auto 2.0-V1_ENG.jpg">
      </li>
      <li>
        <h1>Portugues</h1>
        <img src="./assets/roadmap/Showcase DevOps360 Alelo Auto 2.0-V1_ABU.jpg">
      </li>
      <li>
        <h1>Spanish</h1>
        <img src="./assets/roadmap/Showcase DevOps360 Alelo Auto 2.0-V1_ABU_ES.jpg">
      </li>
    </ul>


  </div>

</template>

<script>

  export default {
    name: 'app',
    data () {
      return {
        msg: 'Roadmap'
      }
    }
  }
</script>

<style lang="scss">

</style>
